<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il sole a mezzanotte</title>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- STYLE -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="vue">
        <div class="container">       
            <div class="inputs">
                <div class="text-area">
                    <label for="message">Dicci pure cosa pensi:</label><br>
                    <input type="text" id="message" v-model="userInput"><br>
                    <label for="picture">Inserisci l'URL dell'immagine che più ti rappresenta</label><br>
                    <input type="text" id="picture" v-model="userInputUrl"><br>
                </div>
                <button id="button" @click="printMessage">Invia</button>
            </div>
            <div class="output">
                <h1 id="text">Grazie per averci detto: {{message}}</h1>
                <h2>Ecco l'immagine scelta che meglio ti rappresenta:</h2>
                <div class="img-container">
                    <img :src="url" alt="">
                </div>
            </div>
        </div>
        <script src="js/script.js"></script>
    </div>
</body>
</html>