<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il sole a mezzanotte</title>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- STYLE -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div id="vue">
        <div class="inputs">
            <label for="message">Dicci pure cosa pensi:</label>
            <input type="text" id="message" v-model="userInput">
            <button @click="printMessage">Invia</button>
            <label for="picture">Inserisci l'URL dell'immagine che più ti rappresenta</label>
            <input type="text" id="picture" v-model="userInputUrl">
        </div>
        <h1 id="text">Grazie per averci detto: {{message}}</h1>
        <h2>Ecco l'immagine scelta che meglio ti rappresenta:</h2>
        <img :src="url" alt="">
    </div>
    <script src="js/script.js"></script>
</body>
</html>